<footer class="border-top">
    <div class="f-info-social">
        <div class="f-links">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
    <div class="f-com"> <a href="/signup/seller">Join us as a Seller</a></div>&nbsp;&nbsp;&nbsp;
    <div class="f-com">&copy; QuickByte Private Limited</div>
    <div class="f-info">
        <a href="/privacy">privacy</a>
        <a href="/terms">Terms</a>
    </div>
</footer>