<% layout("/layout/boilerPlate.ejs") %>

<body>
    <div class="container">
        <div class="checkmark-circle">
            <div class="background"></div>
            <div class="checkmark"></div>
        </div>
        <h1 class="orderAni">Order Placed Successfully!</h1>
        <p class="orderAni">Thank you for your order. Your order has been placed successfully.</p>
        <p class="orderAni"> Order ID <%= savedOrder._id %></p>
    </div>
</body>