<% layout("/layout/boilerPlate.ejs") %>

<h2 class="offset-2 mb-3">Signup for to be a port of our family</h2>
<form method="post" action="/signup/seller" class="needs-validation" novalidate>
    <div class="row">
        <div class="col-7 offset-2">
            <div class=" mb-3">
                <label for="title "  class="form-label"><p>Seller Username</p></label>
                <input placeholder="Enter seller username" class="form-control" name="username" id="username" type="text" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please choose a Title. </div>
            </div>

            <div class=" mb-3">
                <label for="title "  class="form-label"><p>Phone Number</p></label>
                <input placeholder="Enter phone number" class="form-control" name="phoneNo" id="phoneNo" type="number" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please choose a Title. </div>
            </div>

            <div class=" mb-3">
                <label for="title "  class="form-label"><p>Email</p></label>
                <input placeholder="Enter email" class="form-control" name="email" id="email" type="text" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please choose a Title. </div>
            </div>

            <div class=" mb-3">
                <label for="title "  class="form-label"><p>Shope name</p></label>
                <input placeholder="Enter shope name" class="form-control" name="shopeName" id="shopeName" type="text" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please choose a Title. </div>
            </div>

            <div class=" mb-3">
                <label for="title "  class="form-label"><p>Password</p></label>
                <input placeholder="Enter password" class="form-control" name="password" id="password" type="password" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please choose a Title. </div>
            </div>

            <button class="btn btn-primary">Add Item</button>
        </div>
    </div>        
</form>