body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none !important;
}

.card-listing {
    margin-top: 5rem;
    /* width: 26rem !important; */
    border-radius: 2rem !important;
    border: none !important;
    overflow: hidden !important;
}

.head-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.card-listing p {
    font-size: 1.2rem;
}

.card-listing img {
    border-radius: 2rem !important;
    /* height: 20rem !important; */
    object-fit: cover !important;
}

.card-img-top {
    opacity: 1;
}

.card-img-top:hover{
    opacity: 0.5;
}


.heading-title {
    color: #DE3337;
    font-size: 2.5rem;
    font-weight: 650;
}

.heading-catagoty {
    color: #FF6200;
    font-size: 2rem;
    font-weight: 650;
}


/* footer */

footer {
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 77, 77, 0.267) ;
}

.f-com a {
    color: #222222;
}

.f-info a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #222222;
    margin-left: 1rem;
}

.f-info-social {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.f-links i {
   margin-left: 1rem;
   font-size: 1.6rem;
}

.f-info {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}


.f-info a, .f-com a:hover {
    text-decoration: underline;
}

/* show */

.card-show {
    height: 35rem !important;
    border: 2px solid black;
    overflow: hidden;
    object-fit: cover;
}

.card-img {
    overflow: hidden;
    object-fit: cover;
}

/* review moedel */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate label {
    margin-left: 3rem;
    font-size: 5rem;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) >  label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}   

/* review card */
.review-card {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
 .card-body-review {
    border-radius: 3rem !important;
}

.rating-body {
    display: flex;
    align-items: center;
}

.rating-body p {
    font-size: 1.2rem;
    font-weight: 600;
}

.rating {
    height: 2rem;
    width: auto;
    padding:0 0.5rem;
    background-color: rgba(2, 157, 2, 0.934);
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    color: #ffff;
    font-weight: 600;
}

.rating i {
    margin-top: 0.5rem;
    padding-left: 4px;
    font-size: 0.9rem;
}

.contenor {
    flex: 1;
}

footer {
    width: 100%;
}

/* ordering */

.card-order img {
    height: 5rem !important;
}

.show-card {
    border: 2px solid black;
    overflow: hidden;
    object-fit: cover;
}

.quintity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}

.quintity input {
    height: 2rem;
}

.price {
    display: flex;
    flex-wrap: wrap;
}

.outer-contenor {
    display: flex;
    align-items:center;
}

.inner-contenor i {
    margin-left: 35%;
    font-size: 1.4rem;
    color: #000;
}

.inner-contenor {
    margin-left: 1rem;
}

/* logo */
.logo {
    height: 100%;
    width: 11rem;
    font-weight: 600;
    font-size: 1.4rem;
    position: relative;
}

.logo img {
    height: 100%;
    width: 3.5rem;
    margin: 0 !important;
    border-radius: 50%;
    object-fit: cover;
}


/* Responsive styles */
@media only screen and (max-width: 450px) {
    header {
        width: 100% !important;
        height: 14rem !important;
        padding:0 !important;
        margin: 0 !important;
    }

    header .container a, img  {
        font-size: 1em;
    }

    header ul li a, .btn, input {
       font-size: 0.7rem !important;
    }

     .inner-contenor i, p {
        font-size: 0.8rem;
    }

    .container {
        padding: 1rem;
    }

    .card-listing {
        padding: 0 !important;
        margin: 0 !important;
        width: 13rem !important;
    }
    
    .card-listing img {
        height: 8.5rem !important;
        width: 10rem;
    }

    .card-listing p {
       font-size: 1rem;
    }

    button {
       margin: 0 !important;
    }

    .heading-catagoty, .heading-title {
     font-size: 1.2rem;   
    }

    .card-body-review {
       margin: 0 !important;
       width: 12rem !important;
    }

    .card-body-review h5 {
        font-size: 0.9rem;
    }

    .card-body-review {
        font-size: 0.7rem;
    }

    .offset-4  {
        margin: 1rem !important;
        font-size: 1.5rem !important;
    }

    .offset-4 input {
        width: 15rem;
    }

    .add-to-card {
        margin: 1rem !important;
    }

    .quintity input {
        width: 3rem;
        margin: 0;
    }

    .price input {
        margin: 0 !important;
        padding: o !important;
        width: 3rem;
    }

    .price {
        margin: 0;
    }

    .rate label {
        height: 3rem;
        padding: 0 !important;
        margin: 0.3rem !important;
    }
}